$color_1: var(--main-color);
$color_2: #fff;
$background-color_1: var(--main-color);

/*profile page*/
.left-profile-card {
	.user-profile {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: auto;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 0;
		font-weight: 700;
	}
	p {
		margin-bottom: 5px;
	}
	.progress-bar {
		background-color: $background-color_1;
	}
}
.personal-info {
	margin-bottom: 30px;
	.personal-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	h3 {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 5px;
		font-size: 14px;
	}
	i {
		font-size: 15px;
		color: $color_1;
		margin-right: 15px;
		width: 18px;
	}
}
.personal-list {
	li {
		margin-bottom: 5px;
	}
}
.skill {
	margin-bottom: 30px;
	h3 {
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 5px;
	}
}
.languages {
	h3 {
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 5px;
	}
}
.right-profile-card {
	.nav-pills {
		.nav-link.active {
			color: $color_2;
			background-color: $background-color_1;
		}
		.nav-link {
			border-radius: 26px;
		}
	}
	.nav {
		>li {
			float: left;
			margin-right: 10px;
		}
	}
	h3 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	i {
		font-size: 15px;
		margin-right: 10px;
	}
	.work-container {
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		padding: 10px;
	}
}
.nav-pills {
	.show {
		>.nav-link {
			color: $color_2;
			background-color: $background-color_1;
		}
	}
}
