    <div class="container">
        <h1>Connectez vous</h1>
        <form>
            <input type="text" required="required" placeholder="Entrer votre nom"><br>
            <input type="email" id="email" required="required" placeholder="Entrer votre adresse mail"><br>
            <input type="tel" placeholder="Numero de telephone" required><br>
            <input type="password" name="password" id="password" placeholder="Mot de passe"><br>
        </form>
        <button>Creer</button><br>
    </div>