<div class="container-fluid">
  <div class="row row-col-2">
    <div class="col-3">
      <app-home></app-home>
    </div>

    <!-- Ici le bar de navigation -->
    <div class="col-9">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Informations</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#experience">Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#competence">Competences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#formation">Formations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Centre d'Interet</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Ici le contenue de CV -->
      <app-content></app-content>
  </div>
</div>