<!-- Ici le contenu à afficher avec le timeLine -->
<div class="main-timeline">
    <div class="timeline left">
      <div class="card">
        <div class="card-body p-4">
          <h4>Créations</h4>
          <h5>Mars 2019 - Aujourd'hui</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
      </div>
    </div>
    <div class="timeline right">
      <div class="card">
        <div class="card-body p-4">
          <h4>Stage marketing</h4>
          <h5>Novembre 2017 - Décembre 2018</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
            mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
            dignissim per, habeo iusto primis ea eam.</p>
        </div>
      </div>
    </div>
    <div class="timeline left">
        <div class="card">
          <div class="card-body p-4">
            <h4>Créations</h4>
            <h5>Mars 2019 - Aujourd'hui</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
</div>
<!-- Fin timeLine -->
