<section>
    <h2>Compétences</h2>
    <h3 class="h3gauche">Professionnelles</h3>
    <div class="comp">
        <p>HTML / CSS</p>
        <div class="conteneur-barre"><span class="barre c75"></span></div>
    </div>
    <div class="comp">
        <p>PHP / MySQL</p>
        <div class="conteneur-barre"><span class="barre c95"></span></div>
    </div>
    <div class="comp">
        <p>JavaScript</p>
        <div class="conteneur-barre"><span class="barre c90"></span></div>
    </div>
    <div class="comp">
        <p>SEO</p>
        <div class="conteneur-barre"><span class="barre c75"></span></div>
    </div>
    <h3 class="h3gauche">Personnelles</h3>
    <div class="comp2">
        <p>Créativité</p>
        <p>90%</p>
        <div class="conteneur-barre2"><span class="barre c90"></span></div>
    </div>
    <div class="comp2">
        <p>Adaptation</p>
        <p>85%</p>
        <div class="conteneur-barre2"><span class="barre c85"></span></div>
    </div>
    <div class="comp2">
        <p>Sérieux</p>
        <p>95%</p>
        <div class="conteneur-barre2"><span class="barre c95"></span></div>
    </div>
    <div class="comp2">
        <p>Pédagogie</p>
        <p>95%</p>
        <div class="conteneur-barre2"><span class="barre c95"></span></div>
    </div>
  </section>